<!DOCTYPE html>
<html>
<head>
  <title>Project Details</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Manager Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="navbar-brand" href="/">Home</a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="">Logout</a>
      </li>
    </ul>>
  </nav>
  <div class="container">
    <h1 class="mt-4">Project Details</h1>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title"><%= project.project_name %></h2>
        <p class="card-text">Description: <%= project.description %></p>
        <p class="card-text">Status: <%= project.status %></p>
        <p class="card-text">Start Date: <%= project.start_date.toLocaleDateString() %></p>
        <p class="card-text">Expected Finish: <%= project.expected_finish.toLocaleDateString() %></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Assigned Workers:</h3>
        <% if (project.workers.length === 0) { %>
          <p>No workers available</p>
        <% } else { %>
          <% project.workers.forEach(worker => { %>
            <div class="card mb-2">
              <div class="card-body">
                <p class="card-text"><%= worker %></p>
              </div>
            </div>
          <% }); %>
        <% } %>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
